{
	"presets": [
		[
			"@babel/env",
			{
				"useBuiltIns": "usage",
				"corejs": "3.0.0",
				"modules": false,
				"targets": {
					"browsers": "> 0.05%, not ie < 10, not op_mini all",
					"node": "current"
				}
			}
		]
	]
}